#!/usr/bin/env bash

# Redis
# ---------------
alias flush-redis="redis-cli FLUSHALL"

# Oh my zsh config helpers
# ---------------
alias cddotfiles="cd ~/.dotfiles"
alias reloadcli="source $HOME/.zshrc"

# Openers
# ---------------
alias zshrc="code ~/.zshrc"
alias ohmyzsh="code ~/.oh-my-zsh"
alias dotfiles="code ~/.dotfiles"
alias hostfile="sudo code /etc/hosts"
alias sshconfig="code ~/.ssh/config"

# PHP
# ---------------
alias phpunit="vendor/bin/phpunit"
alias phpunitw="phpunit-watcher watch"
alias pest="./vendor/bin/pest"
alias pestw="pest --watch $@"
alias expose="php8.0 ~/.composer/vendor/bin/expose"

alias php8.3="~/Library/Application\ Support/Herd/bin/php83"
alias php8.2="~/Library/Application\ Support/Herd/bin/php82"
alias php8.1="~/Library/Application\ Support/Herd/bin/php81"
alias php8.0="~/Library/Application\ Support/Herd/bin/php80"
alias php7.4="~/Library/Application\ Support/Herd/bin/php74"

alias composer8.3="php8.3 $(which composer)"
alias composer8.2="php8.2 $(which composer)"
alias composer8.1="php8.1 $(which composer)"
alias composer8.0="php8.0 $(which composer)"
alias composer7.4="php7.4 $(which composer)"

# Laravel
# ---------------
alias a="php artisan"
alias please="php please"
alias migrate="php artisan migrate"
alias fresh='php artisan migrate:fresh --seed'
alias rollback="php artisan migrate:rollback --step=1"
alias sail='[ -f sail ] && bash sail || bash vendor/bin/sail'

# Symfony
# ---------------
alias console="php bin/console"

# SSH
# ---------------
alias sshconfig="code ~/.ssh/config"
alias copykey='command cat ~/.ssh/id_rsa.pub | pbcopy'
alias publickey="cat ~/.ssh/id_rsa.pub"

# Tool replacements & helpers
# ---------------
alias man=tldr
alias cat='colorize_via_pygmentize'
alias ping='prettyping --nolegend'
alias preview="fzf --preview 'bat --color \"always\" {}'"
alias grep="grep --color=auto"
alias top="sudo htop"
alias watch="watch "
alias taillog="watchlog"

# Git
# ---------------
alias git="hub"
alias wip="commit 'WIP'"
alias cleanbranches="git branch --merged | egrep -v \"(^\*|main|master|develop|dev)\" | xargs git branch -d"
alias dracaris='git reset --hard;git clean -df'

# MacOS
# ---------------
# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
# Lock the screen
alias afk="osascript -e 'tell application \"System Events\" to keystroke \"q\" using {command down,control down}'"
# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Networking
# ---------------
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
# Ports
alias ports="lsof -nP -i4TCP | grep LISTEN"

# Other
# ---------------
# Enable aliases to be sudo’ed
alias sudo='sudo '
