mode = "symlink"

encryption = "age"

[age]
    identity = "~/.local/share/chezmoi/age.agekey"
    recipient = "age18l3s0trxuge82c7upmal5u4spfx5uta0hxtp3rmx64gsj7cw5caq0980nn"

# [git]
#     autoCommit = true
#     autoPush = true

[edit]
    command = "code"
    args = ["--wait"]
